.git
vendor
node_modules
.env
.env.docker
.env.example
# docker (removed to allow COPY)
app_old*
resources_old*
routes_old*
storage/framework/cache/data/*
storage/framework/sessions/*
storage/framework/views/*.php
storage/logs/*.log
proxy
php/local.ini
