/node_modules
/public/hot
/public/storage
/storage/*.key
/vendor
.env
.env.backup
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
/public/admin_lte
new_tsul.sql
new_tsul_old.sql
new_tsul_old2.sql
tsul.zip
/public/files
/public/images
/public/media
/public/teachers
/public/timetable
/public/ustav_files
/public/video
/public/young_scientists
/public/front_assets
