$tsul-color: #0A2355;
$bg-color: #F6F7FD;

.about_university{
    margin-top: 30px;
    margin-bottom: 60px;
    
    .img_style img{
        width: 100%;
        height: auto;
        border-radius: px;
        object-fit: fill;
    }
  
    .img_style h3{
        color: $tsul-color;
        text-align: center;
    }
    .img_style h5{
        text-align: center;
    }
    .img_style hr{
        color: $tsul-color;
        border-radius: 50%;
    }
    .rektor_icons i{
        color: $tsul-color;
        font-size: 20px;
    
    }
    .rektor_icons span{
        color: #000;
    }
    .card_sticky{
        position: -webkit-sticky;
        position: sticky;
        top: 60px; 
    }
    .ob-info{
        
        text-align: justify;
    }
    .ob-info h3{
        color: $tsul-color;
    }
    .ob-info h4{
       
        color: $tsul-color;
    }
    
    .ob-info h5{
        color: $tsul-color;
    }
    
    /*Media*/
    @media only screen and (max-width:1440px){
        .rektor_icons{
            i{
                font-size: 20px;
            }
        }
        .img_style{
            h3{
                font-size: 24px;
            }
            h5{
                font-size: 19px;
            }
        }
    }
    @media only screen and( max-width:1024px){
        .rektor_icons{
            i{
                font-size: 19px;
            }
        }
        .img_style{
            h3{
                font-size: 22px;
            }
            h5{
                font-size: 19px;
            }
        }
    }
    
    @media only screen and(max-width:768px){
        .rektor_icons{
            i{
                font-size: 16px;
            }
        }
        .img_style{
            h3{
                font-size: 19px;
            }
            h5{
                font-size: 17px;
            }
        }
    }
    @media only screen and(max-width:425px){
        .rektor_icons{
            i{
                font-size: 16px;
            }
        }
        .img_style{
            h3{
                font-size: 18px;
            }
            h5{
                font-size: 17px;
            }
        }
    }
    @media only screen and(max-width:375px){
        .rektor_icons{
            i{
                font-size: 15px;
            }
        }
        .img_style{
            h3{
                font-size: 16px;
            }
            h5{
                font-size: 15px;
            }
        }
    }
}

