.wrap {
  /* The popup form - hidden by default */
  /* Add styles to the form container */
  /* Set a style for the submit/login button */
  /* Add a red background color to the cancel button */
  /*Accardion*/ }
  .wrap .form-popup {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: 2000; }
  .wrap .form-container {
    position: relative;
    top: 0;
    left: 0;
    max-width: 100vw;
    height: 100vh;
    padding: 0px;
    background-color: #0A2355; }
    .wrap .form-container img {
      padding-top: 20px;
      padding-bottom: 5px;
      width: 120px;
      display: block;
      margin-left: auto;
      margin-right: auto;
      filter: brightness(1); }
      .wrap .form-container img:hover {
        filter: brightness(0.8); }
  .wrap .form-container .btn {
    color: white;
    padding: 16px 20px;
    border: none;
    cursor: pointer;
    width: 100%;
    opacity: 1;
    position: absolute;
    top: 0;
    right: 0; }
  .wrap .form-container .cancel {
    float: right;
    width: auto;
    top: 0;
    font-size: 24px;
    color: white;
    filter: brightness(0.8); }
    .wrap .form-container .cancel:hover {
      color: white;
      font-size: 25px;
      filter: brightness(1); }
  .wrap .button-open {
    color: #0A2355;
    cursor: pointer;
    background-color: #0A2355;
    width: 100%;
    right: 0;
    left: 0;
    border: none;
    text-align: left;
    outline: none;
    font-size: 15px;
    transition: 0.4s; }
    .wrap .button-open :root {
      --animate-duration: 2s; }
    .wrap .button-open .my-element {
      --animate-duration: 0.5s; }
    .wrap .button-open .top-icons {
      position: fixed;
      top: 20px;
      left: 20px;
      text-align: center; }
      .wrap .button-open .top-icons a i {
        font-size: 20px;
        color: white;
        padding-right: 10px; }
    .wrap .button-open .top-menu-links {
      justify-content: center;
      text-align: center; }
      .wrap .button-open .top-menu-links a {
        font-weight: bold;
        text-decoration: none;
        text-align: center;
        color: white;
        margin-left: 107px;
        font-size: 20px;
        filter: brightness(1); }
        .wrap .button-open .top-menu-links a:hover {
          filter: brightness(0.8); }
      .wrap .button-open .top-menu-links i {
        font-weight: bold;
        font-size: 16px;
        color: white; }
    .wrap .button-open .top-menu-linksTwo {
      justify-content: center; }
      .wrap .button-open .top-menu-linksTwo a {
        font-weight: bold;
        text-decoration: none;
        color: white;
        margin-left: 70px;
        font-size: 20px;
        filter: brightness(1); }
        .wrap .button-open .top-menu-linksTwo a:hover {
          filter: brightness(0.8); }
      .wrap .button-open .top-menu-linksTwo i {
        font-weight: bold;
        font-size: 16px;
        color: white; }
    .wrap .button-open .top-menu-linksNoactiveOne {
      justify-content: center;
      text-align: center; }
      .wrap .button-open .top-menu-linksNoactiveOne a {
        text-decoration: none;
        text-align: center;
        color: white;
        margin-left: 107px;
        font-size: 20px;
        filter: brightness(0.7); }
        .wrap .button-open .top-menu-linksNoactiveOne a:hover {
          filter: brightness(0.8); }
      .wrap .button-open .top-menu-linksNoactiveOne i {
        font-size: 20px;
        color: white; }
    .wrap .button-open .top-menu-linksTwoNoactiveTwo {
      justify-content: center;
      text-align: center; }
      .wrap .button-open .top-menu-linksTwoNoactiveTwo a {
        text-decoration: none;
        color: white;
        margin-left: 100px;
        font-size: 20px;
        filter: brightness(0.7); }
      .wrap .button-open .top-menu-linksTwoNoactiveTwo i {
        font-size: 20px;
        color: white; }
  .wrap .button-openTwo {
    color: black;
    cursor: pointer;
    background-color: #0A2355;
    width: 100%;
    right: 0;
    left: 0;
    border: none;
    text-align: left;
    outline: none;
    font-size: 15px;
    transition: 0.4s; }
    .wrap .button-openTwo .top-icons {
      font-size: 24px; }
      .wrap .button-openTwo .top-icons a {
        color: white;
        margin-left: 10px;
        filter: brightness(1); }
        .wrap .button-openTwo .top-icons a:hover {
          filter: brightness(0.8); }
    .wrap .button-openTwo .top-menu-links a {
      text-decoration: none;
      color: white;
      margin-left: 40px;
      font-size: 30px;
      filter: brightness(1); }
      .wrap .button-openTwo .top-menu-links a:hover {
        filter: brightness(0.8); }
  .wrap .active, .wrap .button-open {
    background-color: #0A2355; }
  .wrap .active, .wrap .button-openTwo {
    background-color: #0A2355; }
  .wrap .panel {
    padding: 0 18px;
    display: block;
    background-color: #0A2355;
    color: white;
    overflow: hidden; }
    .wrap .panel ul h6 a {
      font-size: 20px;
      text-decoration: none;
      color: white;
      filter: brightness(1); }
    .wrap .panel ul h5 a {
      font-size: 18px;
      text-decoration: none;
      color: white;
      filter: brightness(0.9); }
      .wrap .panel ul h5 a:hover {
        filter: brightness(0.8); }
    .wrap .panel li {
      margin-left: 10px;
      list-style: none; }
      .wrap .panel li:hover {
        background-color: #10295B;
        border-radius: 2px; }
      .wrap .panel li a {
        font-size: 16px;
        text-decoration: none;
        color: white;
        filter: brightness(0.8); }
        .wrap .panel li a:hover {
          filter: brightness(0.9); }
        .wrap .panel li a i {
          margin-right: 5px; }
  .wrap .panelTwo {
    padding: 0 18px;
    display: block;
    background-color: #0A2355;
    color: white;
    overflow: hidden; }
    .wrap .panelTwo ul h6 a {
      font-size: 20px;
      text-decoration: none;
      color: white;
      filter: brightness(1); }
    .wrap .panelTwo ul h5 a {
      font-size: 18px;
      text-decoration: none;
      color: white;
      filter: brightness(0.9);
      margin-left: 10px; }
    .wrap .panelTwo li {
      margin-left: 0px;
      list-style: none; }
      .wrap .panelTwo li:hover {
        background-color: #10295B;
        border-radius: 2px; }
      .wrap .panelTwo li a {
        font-size: 16px;
        text-decoration: none;
        color: white;
        margin-left: 20px;
        filter: brightness(0.8); }
        .wrap .panelTwo li a:hover {
          filter: brightness(0.9); }
        .wrap .panelTwo li a i {
          margin-right: 5px; }
  @media only screen and (max-width: 2030px) and (min-width: 1440px) {
    .wrap {
      /* The popup form - hidden by default */
      /* Add styles to the form container */
      /* Set a style for the submit/login button */
      /* Add a red background color to the cancel button */
      /*Accardion*/ }
      .wrap .form-container img {
        padding-top: 20px;
        padding-bottom: 5px;
        width: 110px;
        display: block;
        margin-left: auto;
        margin-right: auto;
        filter: brightness(1); }
        .wrap .form-container img:hover {
          filter: brightness(0.8); }
      .wrap .button-open .top-icons a i {
        font-size: 16px; }
      .wrap .button-open .top-menu-links a {
        font-size: 16px; }
      .wrap .button-open .top-menu-links i {
        font-size: 16px;
        color: white; }
      .wrap .button-open .top-menu-linksTwo {
        justify-content: center; }
        .wrap .button-open .top-menu-linksTwo a {
          text-decoration: none;
          color: white;
          margin-left: 70px;
          font-size: 16px;
          filter: brightness(1); }
          .wrap .button-open .top-menu-linksTwo a:hover {
            filter: brightness(0.8); }
        .wrap .button-open .top-menu-linksTwo i {
          font-size: 16px;
          color: white; }
      .wrap .button-open .top-menu-linksNoactiveOne a {
        font-size: 16px; }
        .wrap .button-open .top-menu-linksNoactiveOne a:hover {
          filter: brightness(0.8); }
      .wrap .button-open .top-menu-linksNoactiveOne i {
        font-size: 16px; }
      .wrap .button-open .top-menu-linksTwoNoactiveTwo a {
        font-size: 16px; }
      .wrap .button-open .top-menu-linksTwoNoactiveTwo i {
        font-size: 16px; }
      .wrap .button-openTwo .top-icons a {
        color: white; }
      .wrap .panel ul h6 a {
        font-size: 16px; }
      .wrap .panel ul h5 a {
        font-size: 15px; }
      .wrap .panel li {
        margin-left: 10px;
        list-style: none; }
        .wrap .panel li a {
          font-size: 13px; }
      .wrap .panelTwo ul h6 a {
        font-size: 16px; }
      .wrap .panelTwo ul h5 a {
        font-size: 15px; }
      .wrap .panelTwo li a {
        font-size: 13px; } }
  @media only screen and (max-width: 1440px) and (min-width: 1260px) {
    .wrap {
      /* The popup form - hidden by default */
      /* Add styles to the form container */
      /* Set a style for the submit/login button */
      /* Add a red background color to the cancel button */
      /*Accardion*/ }
      .wrap .form-popup {
        display: none;
        position: fixed;
        top: 0;
        left: 0;
        width: 100vw;
        height: 100vh;
        z-index: 2000; }
      .wrap .form-container {
        position: relative;
        top: 0;
        left: 0;
        max-width: 100vw;
        height: 100vh;
        padding: 0px;
        background-color: #0A2355; }
        .wrap .form-container img {
          padding-top: 20px;
          padding-bottom: 5px;
          width: 100px;
          display: block;
          margin-left: auto;
          margin-right: auto;
          filter: brightness(1); }
          .wrap .form-container img:hover {
            filter: brightness(0.8); }
      .wrap .form-container .btn {
        color: white;
        padding: 16px 20px;
        border: none;
        cursor: pointer;
        width: 100%;
        opacity: 1;
        position: absolute;
        top: 0;
        right: 0; }
      .wrap .form-container .cancel {
        float: right;
        width: auto;
        top: 0;
        font-size: 24px;
        color: white;
        filter: brightness(0.8); }
        .wrap .form-container .cancel:hover {
          color: white;
          font-size: 25px;
          filter: brightness(1); }
      .wrap .button-open {
        color: #0A2355;
        cursor: pointer;
        background-color: #0A2355;
        width: 100%;
        right: 0;
        left: 0;
        border: none;
        text-align: left;
        outline: none;
        font-size: 15px;
        transition: 0.4s; }
        .wrap .button-open .top-icons {
          position: fixed;
          top: 20px;
          left: 20px;
          text-align: center; }
          .wrap .button-open .top-icons a i {
            font-size: 14px;
            color: white;
            padding-right: 10px; }
        .wrap .button-open .top-menu-links {
          justify-content: center;
          text-align: center; }
          .wrap .button-open .top-menu-links a {
            text-decoration: none;
            text-align: center;
            color: white;
            margin-left: 107px;
            font-size: 14px;
            filter: brightness(1); }
            .wrap .button-open .top-menu-links a:hover {
              filter: brightness(0.8); }
          .wrap .button-open .top-menu-links i {
            font-size: 16px;
            color: white; }
        .wrap .button-open .top-menu-linksTwo {
          justify-content: center; }
          .wrap .button-open .top-menu-linksTwo a {
            text-decoration: none;
            color: white;
            margin-left: 70px;
            font-size: 14px;
            filter: brightness(1); }
            .wrap .button-open .top-menu-linksTwo a:hover {
              filter: brightness(0.8); }
          .wrap .button-open .top-menu-linksTwo i {
            font-size: 16px;
            color: white; }
        .wrap .button-open .top-menu-linksNoactiveOne {
          justify-content: center;
          text-align: center; }
          .wrap .button-open .top-menu-linksNoactiveOne a {
            text-decoration: none;
            text-align: center;
            color: white;
            margin-left: 107px;
            font-size: 14px;
            filter: brightness(0.7); }
            .wrap .button-open .top-menu-linksNoactiveOne a:hover {
              filter: brightness(0.8); }
          .wrap .button-open .top-menu-linksNoactiveOne i {
            font-size: 14px;
            color: white; }
        .wrap .button-open .top-menu-linksTwoNoactiveTwo {
          justify-content: center;
          text-align: center; }
          .wrap .button-open .top-menu-linksTwoNoactiveTwo a {
            text-decoration: none;
            color: white;
            margin-left: 100px;
            font-size: 14px;
            filter: brightness(0.7); }
          .wrap .button-open .top-menu-linksTwoNoactiveTwo i {
            font-size: 14px;
            color: white; }
      .wrap .button-openTwo {
        color: black;
        cursor: pointer;
        background-color: #0A2355;
        width: 100%;
        right: 0;
        left: 0;
        border: none;
        text-align: left;
        outline: none;
        font-size: 15px;
        transition: 0.4s; }
        .wrap .button-openTwo .top-icons {
          font-size: 24px; }
          .wrap .button-openTwo .top-icons a {
            color: white;
            margin-left: 10px;
            filter: brightness(1); }
            .wrap .button-openTwo .top-icons a:hover {
              filter: brightness(0.8); }
        .wrap .button-openTwo .top-menu-links a {
          text-decoration: none;
          color: white;
          margin-left: 40px;
          font-size: 30px;
          filter: brightness(1); }
          .wrap .button-openTwo .top-menu-links a:hover {
            filter: brightness(0.8); }
      .wrap .active, .wrap .button-open {
        background-color: #0A2355; }
      .wrap .active, .wrap .button-openTwo {
        background-color: #0A2355; }
      .wrap .panel {
        padding: 0 18px;
        display: block;
        background-color: #0A2355;
        color: white;
        overflow: hidden; }
        .wrap .panel ul h6 a {
          font-size: 14px;
          text-decoration: none;
          color: white;
          filter: brightness(1); }
        .wrap .panel ul h5 a {
          font-size: 13px;
          text-decoration: none;
          color: white;
          filter: brightness(0.9); }
          .wrap .panel ul h5 a:hover {
            filter: brightness(0.8); }
        .wrap .panel li {
          margin-left: 10px;
          list-style: none; }
          .wrap .panel li a {
            font-size: 12px;
            text-decoration: none;
            color: white;
            filter: brightness(0.8); }
            .wrap .panel li a:hover {
              filter: brightness(0.9); }
      .wrap .panelTwo {
        padding: 0 18px;
        display: block;
        background-color: #0A2355;
        color: white;
        overflow: hidden; }
        .wrap .panelTwo ul h6 a {
          font-size: 14px;
          text-decoration: none;
          color: white;
          filter: brightness(1); }
        .wrap .panelTwo ul h5 a {
          font-size: 13px;
          text-decoration: none;
          color: white;
          filter: brightness(0.9); }
        .wrap .panelTwo li {
          margin-left: 0px;
          list-style: none; }
          .wrap .panelTwo li a {
            font-size: 12px;
            text-decoration: none;
            color: white;
            filter: brightness(0.8); }
            .wrap .panelTwo li a:hover {
              filter: brightness(0.9); } }
  @media only screen and (max-width: 1260px) and (min-width: 1024px) {
    .wrap {
      /* The popup form - hidden by default */
      /* Add styles to the form container */
      /* Set a style for the submit/login button */
      /* Add a red background color to the cancel button */
      /*Accardion*/ }
      .wrap .form-container img {
        padding-top: 7px;
        padding-bottom: 2px;
        width: 70px; }
      .wrap .form-container .cancel {
        font-size: 18px; }
        .wrap .form-container .cancel:hover {
          color: white;
          font-size: 19px;
          filter: brightness(1); }
      .wrap .button-open .top-icons {
        top: 10px;
        left: 10px; }
        .wrap .button-open .top-icons a i {
          font-size: 13px; }
      .wrap .button-open .top-menu-links a {
        margin-left: 30px;
        font-size: 13px;
        filter: brightness(1); }
        .wrap .button-open .top-menu-links a:hover {
          filter: brightness(0.8); }
      .wrap .button-open .top-menu-links i {
        font-size: 16px;
        color: white; }
      .wrap .button-open .top-menu-linksTwo {
        justify-content: center; }
        .wrap .button-open .top-menu-linksTwo a {
          text-decoration: none;
          color: white;
          margin-left: 45px;
          font-size: 13px;
          filter: brightness(1); }
          .wrap .button-open .top-menu-linksTwo a:hover {
            filter: brightness(0.8); }
        .wrap .button-open .top-menu-linksTwo i {
          font-size: 16px;
          color: white; }
      .wrap .button-open .top-menu-linksNoactiveOne {
        justify-content: center;
        text-align: center; }
        .wrap .button-open .top-menu-linksNoactiveOne a {
          text-decoration: none;
          text-align: center;
          color: white;
          margin-left: 50px;
          font-size: 13px;
          filter: brightness(0.7); }
          .wrap .button-open .top-menu-linksNoactiveOne a:hover {
            filter: brightness(0.8); }
        .wrap .button-open .top-menu-linksNoactiveOne i {
          font-size: 13px;
          color: white; }
      .wrap .button-open .top-menu-linksTwoNoactiveTwo {
        justify-content: center;
        text-align: center; }
        .wrap .button-open .top-menu-linksTwoNoactiveTwo a {
          text-decoration: none;
          color: white;
          margin-left: 50px;
          font-size: 13px;
          filter: brightness(0.7); }
        .wrap .button-open .top-menu-linksTwoNoactiveTwo i {
          font-size: 13px;
          color: white; }
      .wrap .button-openTwo .top-icons {
        font-size: 18px; }
      .wrap .panel ul h6 a {
        font-size: 13px;
        margin-left: 0; }
      .wrap .panel ul h5 a {
        font-size: 12px;
        margin-left: 0; }
      .wrap .panel li a {
        font-size: 11px;
        margin-left: 0;
        line-height: normal; }
      .wrap .panelTwo ul h6 a {
        font-size: 13px;
        margin-left: 0; }
      .wrap .panelTwo ul h5 a {
        font-size: 12px;
        margin-left: 0; }
      .wrap .panelTwo li {
        margin-left: 0px;
        list-style: none; }
        .wrap .panelTwo li a {
          font-size: 11px;
          margin-left: 0;
          line-height: normal; } }

/*# sourceMappingURL=pop_up.css.map */
