@media only screen and (min-width:1500px) {
    .my-container {
        width: 1140px;
    }
}

@media only screen and (max-width:1290px) {
    .my-container {
        margin: 60px auto;
    }
}

@media only screen and (max-width:1184px) {
    .my-full-width {
        flex-basis: 100%;
        max-width: 100%;
    }
    .my-full-width-width {
        width: 100%;
    }
    .my-icon-cart {
        width: 25%;
    }
    /* .harf-width-fot {
    flex-basis: 50% ;
    max-width: 50%;
}  */
    .my-just-content {
        width: 50%;
        margin: auto;
    }
}

@media only screen and (max-width:893px) {
    .my-harf-width {
        flex-basis: 50%;
        max-width: 50%;
    }
}

@media only screen and (max-width:630px) {
    .my-ful-width-1 {
        flex-basis: 100%;
        max-width: 100%;
    }
    .my-col-4 {
        flex-basis: 100%;
        max-width: 100%;
    }
    .my-cart-item {
        width: 100%;
    }
    .my-icon-cart {
        width: 50%;
    }
    .my-just-content {
        width: 100%;
        margin: auto;
    }
    .my-param p {
        margin: 20px 10px 10px 40px;
    }
}