$tsul-color:#0A2355;
$tsul-lighter: #384891;
$light_gray:#adadad;
$white:#fff;
$light_black:#333;


.my-user-img {
    img {
        height: 313.500px;
        width: 100%;
        transition: .5s;
    }
     :hover {
        filter: brightness(0.5);
    }
}

.asosiy-mavzu-tepa-qism {
    color: $light_gray !important;
    text-decoration: none !important;
    font-family: sans-serif !important;
    font-size: 12px !important;
    margin: 20px 0 !important;
    i {
        margin: 0 6px !important;
    }
}

.my-tex-bar {
    padding: 6px 15px !important;
    font-family: sans-serif !important;
    h3 {
        color: $tsul-color;
        font-family: sans-serif !important;
        margin: 0 0 5px 0 !important;
        font-weight: 700;
        font-size: 1.17em;
    }
    p {
        font-size: 14px !important;
        margin-bottom: 0px !important;
    }
    .m {
        margin: 1px 0px 0 12px !important;
    }
    h4 {
        text-transform: uppercase !important;
        font-size: 14px !important;
        margin: 0 0 10px 0 !important;
        font-weight: 700;
    }
    .my-paragrif-bar {
        font-size: 12px !important;
        overflow-y: scroll;
        height: 86px;
    }
}

.my-icon-bar i {
    color: $tsul-color !important;
    font-size: 18px !important;
    margin: 5px 0 !important;
    .my-spa {
        color: $light_black !important;
        margin: 0 15px !important;
        font-size: 13px !important;
        font-weight: 600 !important;
    }
    .my-map {
        color: $light_gray !important;
        margin: 0 28px 0 15px;
    }
}

.my-lorem-text {
    font-size: 13px !important;
    margin: 10px 0 0 0 !important;
    color: $tsul-color;
    display: -webkit-box;
    max-width: 100%;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
}

hr {
    width: 50% !important;
    height: 2px !important;
    background-color: $tsul-color;
    border: none;
    margin: 0 0 15px 0;
    opacity: 1;
}

.only {
    float: right !important;
    padding: 6px 10px !important;
    background-color: $tsul-color !important;
    border: 1px solid $light_black !important;
    color: $white !important;
    font-size: 11px !important;
    cursor: pointer !important;
    font-family: sans-serif !important;
    outline: none !important;
    transition: .5s !important;
    margin: 15px 0 0 0 !important;
     :hover {
        color: $light_black !important;
        background-color: $white !important;
    }
}

.my-green-line {
    position: relative !important;
    padding: 2px !important;
    width: 100% !important;
    height: 0 !important;
    z-index: 1 !important;
    background: linear-gradient(90deg, $tsul-color 146px, #00000000 0%) !important;
}

.line {
    hr {
        float: right !important;
        width: 95% !important;
        height: 1px !important;
        margin: -2px 0 0 0 !important;
        background-color: #909090 !important;
    }
}

h5 {
    font-size: 14px;
}

.my-btn {
    float: right !important;
    padding: 6px 10px;
    background-color: $tsul-lighter;
    border: 1px solid #333;
    color: #fff;
    font-size: 11px !important;
    cursor: pointer !important;
    font-family: sans-serif !important;
    outline: none !important;
    -webkit-transition: .5s !important;
    -o-transition: .5s !important;
    transition: .5s !important;
    margin: 15px 0 0 0 !important;
     &:hover {
        background-color: $white;
        color: $light_black;
    }
}

.my-img-cart {
    width: 90%;
    img {
        width: 100%;
        transition: .5s;
         :hover {
            filter: brightness(0.5);
        }
    }
    .my-buttn {
        font-family: sans-serif !important;
        font-size: 11px !important;
        background-color: $tsul-lighter !important;
        border: none !important;
        color: $white !important;
        padding: 4px 6px !important;
        transition: .5s !important;
        margin: 5px 0 !important;
        cursor: pointer !important;
        border: 1px solid $light_black !important;
         &:hover {
            background-color: $white !important;
            color: $light_black !important;
        }
    }
    p {
        font-size: 12px !important;
        font-family: sans-serif !important;
        font-weight: 600 !important;
        line-height: 2 !important;
    }
    .my-spa {
        font-size: 12px !important;
        float: right !important;
        color: #959494 !important;
        margin: 5px 0 20px 0 !important;
    }
}

.line {
    margin: 0 0 20px 0 !important;
}

.my-pagination {
    display: inline-block !important;
    margin: auto !important;
}

.my-pagination a {
    color: black !important;
    float: left !important;
    padding: 2px 8px;
    text-decoration: none !important;
    border-radius: 50% !important;
    font-weight: 600 !important;
    font-family: 'Rubik', sans-serif !important;
    font-size: 13px;
}

.my-pagination a.active {
    background-color: $tsul-lighter !important;
    color: $white !important;
}

.my-pagination a:hover:not(.active) {
    background-color: #ddd;
}

.my-paragrif-bar::-webkit-scrollbar {
    width: 5px;
}

.my-paragrif-bar::-webkit-scrollbar-thumb {
    background: rgba(0, 0, 0, 0.548);
    border-radius: 50px;
}

.my-paragrif-bar::-webkit-scrollbar-thumb {
    width: 20px;
}

.my-paragrif-bar::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px #00000036;
    border-radius: 50px;
}

.m-left-10px {
    margin: 0 0 0 10px;
}

.m-left-22px {
    margin: 0 22px;
}

.my-float-right {
    float: right;
}

/*Media*/
@media only screen and(max-width:1440px){
    .my-icon-bar i {
        font-size: 19px !important;
        margin: 5px 0 !important;
        .my-spa {
            color: $light_black !important;
            margin: 0 15px !important;
            font-size: 13px !important;
            font-weight: 600 !important;
        }
       
    }
}
@media only screen and(max-width:1024px){
    .my-icon-bar i {
        font-size: 17px !important;
        margin: 5px 0 !important;
        .my-spa {
            color: $light_black !important;
            margin: 0 15px !important;
            font-size: 13px !important;
            font-weight: 600 !important;
        }
       
    }
}
@media only screen and(max-width:768px){
    .my-icon-bar i {
        font-size: 16px !important;
        margin: 5px 0 !important;
        .my-spa {
            color: $light_black !important;
            margin: 0 15px !important;
            font-size: 13px !important;
            font-weight: 600 !important;
        }
       
    }
}