.pop-upup {
  /* Button used to open the contact form - fixed at the bottom of the page */
  /* The popup form - hidden by default */
  /* Add styles to the form container */
  /* Set a style for the submit/login button */
  /* Add a red background color to the cancel button */
  /*Accardion*/ }
  .pop-upup .form-popup {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: 2000;
    opacity: 0.5; }
  .pop-upup .form-container {
    position: relative;
    top: 0;
    left: 0;
    max-width: 100vw;
    height: 100vh;
    padding: 0px;
    background-color: #0A2355; }
    .pop-upup .form-container img {
      width: 100px;
      display: block;
      margin-left: auto;
      margin-right: auto;
      filter: brightness(1); }
      .pop-upup .form-container img:hover {
        filter: brightness(0.8); }
  .pop-upup .form-container .btn {
    color: white;
    padding: 16px 20px;
    border: none;
    cursor: pointer;
    width: 100%;
    opacity: 1;
    position: absolute;
    top: 0;
    right: 0; }
  .pop-upup .form-container .cancel {
    float: right;
    width: auto;
    top: 0;
    font-size: 24px;
    color: white;
    filter: brightness(0.8); }
    .pop-upup .form-container .cancel:hover {
      color: white;
      font-size: 25px;
      filter: brightness(1); }
  .pop-upup .button-open {
    color: #0A2355;
    cursor: pointer;
    background-color: #0A2355;
    width: 100%;
    right: 0;
    left: 0;
    border: none;
    text-align: left;
    outline: none;
    font-size: 15px;
    transition: 0.4s; }
    .pop-upup .button-open .top-icons {
      position: fixed;
      top: 10px;
      text-align: center;
      font-size: 24px; }
      .pop-upup .button-open .top-icons a i {
        font-size: 16px;
        color: white;
        padding-right: 10px; }
    .pop-upup .button-open .top-menu-links {
      justify-content: center;
      text-align: center; }
      .pop-upup .button-open .top-menu-links a {
        text-decoration: none;
        text-align: center;
        color: white;
        margin-left: 107px;
        font-size: 14px;
        filter: brightness(1); }
        .pop-upup .button-open .top-menu-links a:hover {
          filter: brightness(0.8); }
      .pop-upup .button-open .top-menu-links i {
        font-size: 16px;
        color: white; }
    .pop-upup .button-open .top-menu-linksTwo {
      justify-content: center; }
      .pop-upup .button-open .top-menu-linksTwo a {
        text-decoration: none;
        color: white;
        margin-left: 70px;
        font-size: 16px;
        filter: brightness(1); }
        .pop-upup .button-open .top-menu-linksTwo a:hover {
          filter: brightness(0.8); }
      .pop-upup .button-open .top-menu-linksTwo i {
        font-size: 16px;
        color: white; }
    .pop-upup .button-open .top-menu-linksNoactiveOne {
      justify-content: center;
      text-align: center; }
      .pop-upup .button-open .top-menu-linksNoactiveOne a {
        text-decoration: none;
        text-align: center;
        color: white;
        margin-left: 107px;
        font-size: 14px;
        filter: brightness(0.7); }
        .pop-upup .button-open .top-menu-linksNoactiveOne a:hover {
          filter: brightness(0.8); }
      .pop-upup .button-open .top-menu-linksNoactiveOne i {
        font-size: 16px;
        color: white; }
    .pop-upup .button-open .top-menu-linksTwoNoactiveTwo {
      justify-content: center;
      text-align: center; }
      .pop-upup .button-open .top-menu-linksTwoNoactiveTwo a {
        text-decoration: none;
        color: white;
        margin-left: 100px;
        font-size: 14px;
        filter: brightness(0.7); }
      .pop-upup .button-open .top-menu-linksTwoNoactiveTwo i {
        font-size: 16px;
        color: white; }
  .pop-upup .button-openTwo {
    color: black;
    cursor: pointer;
    background-color: #0A2355;
    width: 100%;
    right: 0;
    left: 0;
    border: none;
    text-align: left;
    outline: none;
    font-size: 15px;
    transition: 0.4s; }
    .pop-upup .button-openTwo .top-icons {
      font-size: 24px; }
      .pop-upup .button-openTwo .top-icons a {
        color: white;
        margin-left: 10px;
        filter: brightness(1); }
        .pop-upup .button-openTwo .top-icons a:hover {
          filter: brightness(0.8); }
    .pop-upup .button-openTwo .top-menu-links a {
      text-decoration: none;
      color: white;
      margin-left: 40px;
      font-size: 30px;
      filter: brightness(1); }
      .pop-upup .button-openTwo .top-menu-links a:hover {
        filter: brightness(0.8); }
  .pop-upup .active, .pop-upup .button-open {
    background-color: #0A2355; }
  .pop-upup .active, .pop-upup .button-openTwo {
    background-color: #0A2355; }
  .pop-upup .panel {
    padding: 0 18px;
    display: block;
    background-color: #0A2355;
    color: white;
    overflow: hidden; }
    .pop-upup .panel ul h5 a {
      font-size: 14px;
      text-decoration: none;
      color: white;
      filter: brightness(0.9); }
      .pop-upup .panel ul h5 a:hover {
        filter: brightness(0.8); }
    .pop-upup .panel li {
      margin-left: 10px;
      list-style: none; }
      .pop-upup .panel li a {
        font-size: 13px;
        text-decoration: none;
        color: white;
        filter: brightness(0.8); }
        .pop-upup .panel li a:hover {
          filter: brightness(0.9); }
  .pop-upup .panelTwo {
    padding: 0 18px;
    display: block;
    background-color: #0A2355;
    color: white;
    overflow: hidden; }
    .pop-upup .panelTwo ul h6 a {
      font-size: 16px;
      text-decoration: none;
      color: white;
      filter: brightness(1); }

    .h6-parent {
      font-size: 16px;
      text-decoration: none;
      color: white;
      filter: brightness(1); }
    .pop-upup .panelTwo ul h5 a {
      font-size: 14px;
      text-decoration: none;
      color: white;
      filter: brightness(0.9); }
    .h5-parent {
      font-size: 14px;
      text-decoration: none;
      color: white;
      filter: brightness(0.9); }
    .pop-upup .panelTwo li {
      margin-left: 0px;
      list-style: none; }
      .pop-upup .panelTwo li a {
        font-size: 13px;
        text-decoration: none;
        color: white;
        filter: brightness(0.8); }
        .pop-upup .panelTwo li a:hover {
          filter: brightness(0.9); }
        .line-height{
            line-height: 95%;
        }
        .ul-childs{
            margin-bottom: 3px;
        }

/*# sourceMappingURL=style.css.map */
