$tsul-color:#0A2355;
$border-muted:#DBDBDB;
$hr-muted:#C1C1C1;
$white: #fff;
$black: #000;
$pointer:#F6F7FD;
.content{
    margin: 40px 0 60px;
}
.my-breadcrumb {
    color: #959292;
    font-family: sans-serif;
    font-size: 12px;
    text-decoration: none;
}
.urta-content {
    margin: 10px 0;
    height: 200px;
}

.ung-tomon-top {
    font-size: 13px;
}

.my-mavzu {
    font-size: 22px;
    font-weight: bold;
    margin: 20px 0;
}

.img-bar {
    width: 100%;
    height: 200px;
    img{
        width: 98%;
        height: 100%;
    }
}



.text-bar-con {
    border: 1px solid $border-muted;
    height: 200px;
    padding-left: 20px;
    padding-top: 10px;
    width: 98%;
}

.text-bar-con h2 {
    font-size: 15px;
    color: $tsul-color;
}

.text-bar-con hr {
    width: 65%;
    border: none;
    background-color: $hr-muted;
    height: 2px;
    margin: 8px 0;
}

.text-bar-con p {
    font-size: 12px;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    overflow: hidden;
    max-width: 100%;
    margin: 5px 0;
    line-height: 1;
}

.text-bar-con i {
    font-size: 15px;
    color: $tsul-color;
    margin: 0 10px 0 0;
}

.text-bar-con i span {
    color: black;
    font-size: 12px;
    margin: 0 20px;
}

.text-bar-con .my-btn-pod {
    margin: 10px 0;
    width: 120px;
    height: 25px;
    padding: 2px;
    font-size: 12px;
    color: $white;
    background-color: $tsul-color;
    border: 1px solid $black;
    -webkit-transition: .5s;
    -o-transition: .5s;
    transition: .5s;
}

.my-btn-pod:hover {
    color: $black;
    background-color: $white;
}

img:hover {
    -webkit-filter: brightness(0.5);
    filter: brightness(0.5);
    -webkit-transition: .5s;
    -o-transition: .5s;
    transition: .5s;
}

.line-chiziq {
    width: 100%;
    height: 2px;
    background: -webkit-linear-gradient(1deg, $tsul-color 28%, #00000026 9%);
    background: -o-linear-gradient(1deg, $tsul-color 28%, #00000026 9%);
    background: linear-gradient(89deg, $tsul-color 28%, #00000026 9%);
    margin: 5px 0;
}

.marg-ri {
    border-right: 1px solid $tsul-color;
}

.my-icon-bar {
    text-align: center;
    padding: 0 30px 0 30px;
}

.my-icon-bar .i {
    color: #02a8fd;
    font-size: 28px;
}

.my-icon-bar samp {
    font-family: arial;
    font-size: 12px;
    font-weight: 900;
}

.my-icon-bar span {
    font-size: 10px;
    text-transform: uppercase;
}

.icon-color-red {
    color: red;
    font-size: 28px;
}

.face-boo {
    color: #4267b7;
    font-size: 28px;
}

.my-right-content {
    height: 200px;
}

.menu-adela {
    text-align: center;
}

.menu-adela h1 {
    font-weight: bold;
    font-size: 12px;
    padding: 5px;
    background-color: #817f7f4b;
    margin: 20px 0 0 0;
    border-bottom: 1px solid $tsul-color;
}

.my-main-menu-adela i {
    margin: 5px 0 5px 60px;
    color: $pointer;
    -webkit-transition: .5s;
    -o-transition: .5s;
    transition: .5s;
}

.my-main-menu-adela a {
    text-decoration: none;
    color: gray;
    font-size: 12px;
    font-weight: 100;
}

.my-main-menu-adela i:hover {
    color: $tsul-color;
}

.my-main-menu-adela i:hover a {
    color: $tsul-color;
}

.my-main-menu-adela hr {
    margin: 0;
}

.my-contact {
    background-color: $tsul-color;
    padding: 15px;
}

.my-contact .my-adress-bar {
    border: 1px solid $white;
    padding: 20px;
    color:$white;
}

.my-contact .my-adress-bar h3 {
    font-weight: 100;
    font-family: sans-serif;
}

.my-contact .my-adress-bar span,
.my-contact .my-adress-bar p {
    margin: 5px 0px;
    font-family: sans-serif;
    font-weight: 100;
    font-size: 12px;
}

.my-contact .my-adress-bar .span {
    margin: 0 5px;
}

.my-contact .my-adress-bar hr {
    width: 30px;
    margin: 10px 0;
    border: none;
    height: 1px;
    background-color: $white;
}

.my-contact .my-adress-bar i {
    margin: 6px 8px 0 0;
    font-size: 14px;
    color: $white;
}

.img-bar-foo {
    position: relative;
    height: 70px;
    margin: 10px 0;
}

.img-bar-foo img {
    float: left;
    border-radius: 50%;
}

.img-bar-foo p {
    font-size: 14px;
    margin: 0 0 0 77px;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 3;
    overflow: hidden;
    max-width: 100%;
}

.img-bar-foo span {
    position: absolute;
    bottom: 0;
    font-size: 12px;
    color: #9e9b9b;
    margin: 0 0 0 10px;
}



/*Media*/
/*End media*/