.personnel_page {
  margin-top: 30px;
  margin-bottom: 60px;
  /*Media*/ }
  .personnel_page .my-user-img img {
    height: auto;
    width: 100%;
    transition: .5s; }
  .personnel_page .my-user-img :hover {
    filter: brightness(0.5); }
  .personnel_page .asosiy-mavzu-tepa-qism {
    color: #adadad !important;
    text-decoration: none !important;
    font-family: sans-serif !important;
    font-size: 12px !important;
    margin: 20px 0 !important; }
    .personnel_page .asosiy-mavzu-tepa-qism i {
      margin: 0 6px !important; }
  .personnel_page .my-tex-bar {
    padding: 6px 15px !important;
    font-family: sans-serif !important; }
    .personnel_page .my-tex-bar h3 {
      color: #0A2355;
      font-family: sans-serif !important;
      margin: 0 0 5px 0 !important;
      font-weight: 700;
      font-size: 1.17em; }
    .personnel_page .my-tex-bar p {
      font-size: 14px !important;
      margin-bottom: 0px !important; }
    .personnel_page .my-tex-bar .m {
      margin: 1px 0px 0 12px !important; }
    .personnel_page .my-tex-bar h4 {
      text-transform: uppercase !important;
      font-size: 14px !important;
      margin: 0 0 10px 0 !important;
      font-weight: 700; }
    .personnel_page .my-tex-bar .my-paragrif-bar {
      overflow-y: scroll;
      height: 86px; }
  .personnel_page .my-icon-bar i {
    color: #0A2355 !important;
    font-size: 18px !important;
    margin: 5px 0 !important; }
    .personnel_page .my-icon-bar i .my-spa {
      color: #333 !important;
      margin: 0 15px !important;
      font-size: 13px !important;
      font-weight: 600 !important; }
    .personnel_page .my-icon-bar i .my-map {
      color: #adadad !important;
      margin: 0 28px 0 15px; }
  .personnel_page .my-lorem-text {
    font-size: 13px !important;
    margin: 10px 0 0 0 !important;
    color: #0A2355;
    display: -webkit-box;
    max-width: 100%;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden; }
  .personnel_page hr {
    width: 50% !important;
    height: 2px !important;
    background-color: #0A2355;
    border: none;
    margin: 0 0 15px 0;
    opacity: 1; }
  .personnel_page .only {
    float: right !important;
    padding: 6px 10px !important;
    background-color: #0A2355 !important;
    border: 1px solid #333 !important;
    color: #fff !important;
    font-size: 11px !important;
    cursor: pointer !important;
    font-family: sans-serif !important;
    outline: none !important;
    transition: .5s !important;
    margin: 15px 0 0 0 !important; }
    .personnel_page .only :hover {
      color: #333 !important;
      background-color: #fff !important; }
  .personnel_page .my-green-line {
    position: relative !important;
    padding: 2px !important;
    width: 100% !important;
    height: 0 !important;
    z-index: 1 !important;
    background: linear-gradient(90deg, #0A2355 146px, #00000000 0%) !important; }
  .personnel_page .line hr {
    float: right !important;
    width: 95% !important;
    height: 1px !important;
    margin: -2px 0 0 0 !important;
    background-color: #909090 !important; }
  .personnel_page h5 {
    font-size: 14px; }
  .personnel_page .my-btn {
    float: right !important;
    padding: 6px 10px;
    background-color: #384891;
    border: 1px solid #333;
    color: #fff;
    font-size: 11px !important;
    cursor: pointer !important;
    font-family: sans-serif !important;
    outline: none !important;
    -webkit-transition: .5s !important;
    -o-transition: .5s !important;
    transition: .5s !important;
    margin: 15px 0 0 0 !important; }
    .personnel_page .my-btn:hover {
      background-color: #fff;
      color: #333; }
  .personnel_page .my-img-cart {
    width: 90%; }
    .personnel_page .my-img-cart img {
      width: 100%;
      transition: .5s; }
      .personnel_page .my-img-cart img :hover {
        filter: brightness(0.5); }
    .personnel_page .my-img-cart .my-buttn {
      font-family: sans-serif !important;
      font-size: 11px !important;
      background-color: #384891 !important;
      border: none !important;
      color: #fff !important;
      padding: 4px 6px !important;
      transition: .5s !important;
      margin: 5px 0 !important;
      cursor: pointer !important;
      border: 1px solid #333 !important; }
      .personnel_page .my-img-cart .my-buttn:hover {
        background-color: #fff !important;
        color: #333 !important; }
    .personnel_page .my-img-cart p {
      font-size: 12px !important;
      font-family: sans-serif !important;
      font-weight: 600 !important;
      line-height: 2 !important; }
    .personnel_page .my-img-cart .my-spa {
      font-size: 12px !important;
      float: right !important;
      color: #959494 !important;
      margin: 5px 0 20px 0 !important; }
  .personnel_page .line {
    margin: 0 0 20px 0 !important; }
  .personnel_page .my-pagination {
    display: flex !important;
    justify-content: center; }
  .personnel_page .my-pagination a {
    color: black !important;
    float: left !important;
    padding: 2px 8px;
    text-decoration: none !important;
    border-radius: 50% !important;
    font-weight: 600 !important;
    font-family: 'Rubik', sans-serif !important;
    font-size: 13px; }
  .personnel_page .my-pagination a.active {
    background-color: #384891 !important;
    color: #fff !important; }
  .personnel_page .my-pagination a:hover:not(.active) {
    background-color: #ddd; }
  .personnel_page .my-paragrif-bar::-webkit-scrollbar {
    width: 5px; }
  .personnel_page .my-paragrif-bar::-webkit-scrollbar-thumb {
    background: rgba(0, 0, 0, 0.548);
    border-radius: 50px; }
  .personnel_page .my-paragrif-bar::-webkit-scrollbar-thumb {
    width: 20px; }
  .personnel_page .my-paragrif-bar::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px #00000036;
    border-radius: 50px; }
  .personnel_page .m-left-10px {
    margin: 0 0 0 10px; }
  .personnel_page .m-left-22px {
    margin: 0 22px; }
  .personnel_page .my-float-right {
    float: right; }
  @media only screen and (max-width: 1420px) {
    .personnel_page .my-user-img img {
      height: 335px;
      width: 100%; } }
  @media only screen and (max-width: 1190px) {
    .personnel_page .my-col-4-res {
      flex-basis: 50%;
      max-width: 50%; }
    .personnel_page .my-user-img img {
      height: 475px; }
    .personnel_page .my-float_right {
      float: right; }
    .personnel_page .my-float_left {
      float: left; }
    .personnel_page .my-margin-cart_3 {
      margin: 0; } }
  @media only screen and (max-width: 1192px) {
    .personnel_page .my-tex-bar .my-paragrif-bar {
      height: 200px; } }
  @media only screen and (max-width: 1090px) {
    .personnel_page .my-user-img img {
      height: 570px; }
    .personnel_page .my-col-4-res {
      flex-basis: 100%;
      max-width: 100%; }
    .personnel_page .my-img-cart {
      width: 100%; } }
  @media only screen and (max-width: 1085px) {
    .personnel_page .my-col-4-res-biograf {
      flex-basis: 100%;
      max-width: 100%; }
    .personnel_page .my-img-cart {
      width: 100%; } }
  @media only screen and (max-width: 1440px) {
    .personnel_page .my-icon-bar i {
      font-size: 19px !important;
      margin: 5px 0 !important; }
      .personnel_page .my-icon-bar i .my-spa {
        color: #333 !important;
        margin: 0 15px !important;
        font-size: 13px !important;
        font-weight: 600 !important; } }
  @media only screen and (max-width: 1024px) {
    .personnel_page .my-icon-bar i {
      font-size: 17px !important;
      margin: 5px 0 !important; }
      .personnel_page .my-icon-bar i .my-spa {
        color: #333 !important;
        margin: 0 15px !important;
        font-size: 13px !important;
        font-weight: 600 !important; } }
  @media only screen and (max-width: 768px) {
    .personnel_page .my-icon-bar i {
      font-size: 18px !important;
      margin: 5px 0 !important; }
      .personnel_page .my-icon-bar i .my-spa {
        color: #333 !important;
        margin: 0 15px !important;
        font-weight: 600 !important; }
    .personnel_page .my-user-img img {
      height: 480px; } }
  @media only screen and (max-width: 425px) {
    .personnel_page .my-user-img img {
      height: 350px; } }
  @media only screen and (max-width: 375px) {
    .personnel_page .my-user-img img {
      height: 300px; } }
  @media only screen and (max-width: 375px) {
    .personnel_page .my-user-img img {
      height: 250px; }
    .personnel_page .my-tex-bar {
      padding: 4px 7px !important; }
      .personnel_page .my-tex-bar .my-paragrif-bar {
        height: 100px;
        font-size: 10px; }
      .personnel_page .my-tex-bar h3 {
        font-size: 18px; }
    .personnel_page .my-icon-bar i {
      font-size: 12px !important;
      margin: 0px 14px !important; }
    .personnel_page .my-lorem-text {
      font-size: 11px !important; } }

/*Cols*/
.my-col-1 {
  flex-basis: 8.333333%;
  max-width: 8.333333%;
  float: left; }

.my-col-2 {
  flex-basis: 16.666666%;
  max-width: 16.666666%;
  float: left; }

.my-col-3 {
  flex-basis: 25%;
  float: left;
  max-width: 25%; }

.my-col-4 {
  flex-basis: 33.333333%;
  max-width: 33.333333%;
  float: left; }

.my-col-5 {
  flex-basis: 41.666666%;
  max-width: 41.666666%;
  float: left; }

.my-col-6 {
  flex-basis: 50%;
  max-width: 50%;
  float: left; }

.my-col-7 {
  flex-basis: 58.333333%;
  max-width: 58.333333%;
  float: left; }

.my-col-8 {
  flex-basis: 66.666666%;
  max-width: 66.666666%;
  float: left; }

.my-col-9 {
  flex-basis: 75%;
  width: 75%;
  float: left; }

.my-col-10 {
  flex-basis: 83.333333%;
  max-width: 83.333333%;
  float: left; }

.my-col-11 {
  flex-basis: 91.666666%;
  max-width: 91.666666%;
  float: left; }

.my-col-12 {
  flex-basis: 100%;
  max-width: 100%;
  float: left; }

/*End Cols*/

/*# sourceMappingURL=personnel_page.css.map */
