$green: #0e5d2d;
$white:#ffffff;
$light_black:#333;
$light_gray:#b6b6b6;
.asosiy-mavzu-tepa-qism {
    color: #959292;
    font-family: sans-serif;
    font-size: 12px;
    text-decoration: none;
    i {
        margin: 0 10px;
    }
}

img {
    transition: .5s;
     :hover {
        filter: brightness(0.5);
    }
}

.my-container {
    .my-h1 {
        font-family: sans-serif;
        font-size: 28px;
        margin: 9px 0;
    }
    .my-buttn {
        border: 1px solid $light_black;
        padding: 5px 6px;
        font-size: 11px;
        background-color: $green;
        color: $white;
        border-radius: 2px;
        font-family: sans-serif;
        margin: 0px 0 6px 0;
        cursor: pointer;
        transition: .5s;
         :hover {
            background-color: $white;
            color: $light_black;
        }
    }
    .my-h4 {
        line-height: 1.5;
        width: 90%;
        display: -webkit-box;
        max-width: 100%;
        -webkit-line-clamp: 2;
        -webkit-box-orient: vertical;
        overflow: hidden;
    }
    .baner {
        img {
            width: 100%;
            margin: 25px 0;
        }
    }
    .my-img_bar {
        width: 95%;
    }
    .my-spn {
        color: $light_gray;
        font-size: 12px;
        float: right;
        margin: 15px 20px;
    }
    .my-h6 {
        display: -webkit-box;
        max-width: 100%;
        -webkit-line-clamp: 2;
        -webkit-box-orient: vertical;
        overflow: hidden;
        font-size: 13px;
        width: 90%;
        line-height: 1.5;
    }
    .my-midle_img {
        width: 95%;
        img {
            width: 94%;
        }
    }
}

.my-right-content {
    margin: 28px 0px;
}

.green-line {
    position: relative;
    padding: 2px;
    width: 106%;
    height: 0;
    z-index: 1;
    background: -webkit-linear-gradient(left, $green 24%, #00000000 0%);
    background: -o-linear-gradient(left, $green 24%, #00000000 0%);
    background: linear-gradient( 90deg, $green 24%, #00000000 0%);
}

.my-hr {
    // float: right;
    width: 90%;
    height: 1px;
    margin: -3px 0 0 0;
    background-color: #909090;
}

.anons {
    font-size: 12px;
    font-weight: 900;
    margin: 0;
    font-family: sans-serif;
}

.my-date {
    margin: 30px 0;
    background: $green;
    display: inline-block;
    padding: 1px 8px;
    color: $white;
    font-size: 10px;
    font-family: sans-serif;
    .my-spn {
        margin: 0;
        float: none;
        font-size: 11px;
        color: $white;
        font-weight: bold;
    }
}

.paragrif {
    line-height: 1.5;
    margin: -80px 0 0 43px;
    font-family: sans-serif;
    font-size: 14px;
    font-weight: 600;
    display: -webkit-box;
    max-width: 80%;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
}

#border-img {
    font-family: sans-serif;
    img {
        border-radius: 50%;
        float: left;
        margin: 0px 10px 0 0;
        width: 70px;
        height: 70px;
    }
    .my-h5 {
        font-size: 12.2px;
        margin: -3px 0 5px 0;
    }
    .my-p {
        font-size: 13px;
        line-height: 1.3;
    }
}

.my-pagination {
    display: inline-block;
    margin: 45px auto;
}

.my-pagination a {
    color: black;
    float: left;
    padding: 4px 8px;
    text-decoration: none;
    border-radius: 50%;
    font-weight: 600;
    font-family: 'Rubik', sans-serif;
    font-size: 13px;
}

.my-pagination a.active {
    background-color: #398350;
    color: $white;
}

.my-pagination a:hover:not(.active) {
    background-color: #ddd;
}

.line-top {
    width: 72%;
    float: right;
    .my-hr {
        width: 92.4%;
    }
    .my-h4 {
        font-family: sans-serif;
        width: 90%;
        display: -webkit-box;
        max-width: 100%;
        -webkit-line-clamp: 2;
        -webkit-box-orient: vertical;
        overflow: hidden;
    }
    .green-line {
        background: linear-gradient( 90deg, #0e6d36 14%, #00000000 0%);
    }
}

.my-right-border-1px {
    border-right: 1px solid #deefde;
}

.my-icon-bar-top {
    margin: 10px 12px 22px 0;
    text-align: center;
    padding: 0 18px 0 0;
    i {
        color: #11b0fb;
        font-size: 24px;
        margin: 5px 0;
    }
    .my-h3 {
        font-family: sans-serif;
        font-size: 12px;
        font-weight: 700;
        margin-bottom: 0;
    }
    .my-p {
        font-family: sans-serif;
        font-size: 12px;
        color: #696969;
    }
    .fa-youtube {
        color: red;
    }
    .fa-facebook-f {
        color: #4966b4;
    }
    .youtube {
        float: right;
    }
}

.my-content-margin {
    .my-p {
        display: -webkit-box;
        max-width: 65%;
        -webkit-line-clamp: 3;
        -webkit-box-orient: vertical;
        overflow: hidden;
    }
}